body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

form {
    margin: 45px;
}

.button {
    background-color: white;
    border-color: #512e67;
    color: #512e67;
    margin-right: 25px;
}

.button.is-primary {
    background-color: white;
    border-color: #512e67;
    color: #512e67;
}

.button.is-primary.is-outlined {
    background-color: white;
    border-color: #512e67;
    color: #512e67;
}

.button.is-primary.is-outlined.is-focused,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined:focus-visible {
    background-color: #512e67;
    border-color: #512e67;
    color: white;
}

.card {
    margin: 45px auto;
    padding-top: 35px;
    padding-right: 15px;
    padding-left: 15px;
    height: 95%;
}

.content ul {
    list-style-type: none;
}

.image1 {
    width: 30%;
    height: auto;
    display: block;
    margin: 50px auto 75px auto;
}

.image2 {
    width: 55%;
    height: auto;
    display: block;
    margin: auto;
}

.image3 {
    height: auto;
    margin: 20px;
}

.label {
    display: block;
}

.navbar-end {
    display: flex;
    justify-content: center;
}

.navbar-burger {
    height: inherit;
}

.tag:not(body) {
    background-color: white;
    border: 1px solid #512e67;
    color: #512e67;
}

.title {
    font-size: 45px;
}

#appreciations-section {
    margin: 25px;
}

#copyright {
    margin: 25px;
    font-size: 9px;
}

#greetings {
    margin: 25px;
    margin-bottom: 70px;
    padding-left: 45px;
}

#submit-btn {
    margin: 45px;
}
