{% include 'header.html' %}

<section class="hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6 is-spaced">
                    <h1 class="title">
                        Welcome into the world of programming journeys
                    </h1>
                    <br />
                    <p class="subtitle">
                        Hey, it's Kate - your testing ninja, data wizard, and
                        Python sorceress, ready to ride the exhilarating
                        rollercoaster of new beginnings!
                    </p>
                </div>
            </div>
            <img
                src="static/images/kate-avatar.png"
                alt="kate-avatar"
                class="avatar image1"
            />

            <img
                src="static/images/cozy-desk.png"
                alt="cozy-desk"
                class="image2"
            />
        </div>
    </div>
</section>

<section class="section is-primary has-text-centered">
    <div class="container" id="greetings">
        <div class="columns is-centered">
            <div class="column is-9">
                <p class="subtitle">
                    Greetings, fellow wanderers of the coding realm! Step into
                    the realm where whimsical testing sorcerers and bug ninjas
                    weave enchanting spells to transform your coding journey
                    into a magical fiesta. Whether you're a coding wanderer or a
                    seasoned wizard, join us on a quest through UI acrobatics,
                    backend wizardry, and the art of turning bugs into confetti.
                    Embrace the magic of Agile and Scrum, where we don't just
                    play; we are the party planners of the coding universe.
                    Let's sprinkle a bit of enchantment on your coding
                    adventures together!
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="columns is-centered">
                
                <div class="column is-one-third">
                    <div class="card">
                        <span></span>
                        <h3>Data</h3>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    For a data wizard, data is the raw material
                                    of magic, and data analysis is the enchanted
                                    process of deciphering, transforming, and
                                    extracting insights to conjure a realm of
                                    strategic wizardry. This mystical journey is
                                    navigated with expertise professionally
                                    using different data tools to unveil the
                                    hidden patterns and unveil the secrets that
                                    lie within the vast expanse of information
                                </p>
                                <br />
                                <div class="tags are-medium is-centered">
                                    <span class="tag is-normal is-rounded">
                                        <b>Google Spreadsheets</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>Microsoft Excel</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>Python Scripting</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>pandas</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>SQL</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>SQL SSMS</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>MySQL DB</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>MongoDB</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="card">
                        <span></span>
                        <h3>Testing</h3>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    For testing ninja, testing is a skillful and
                                    stealthy pursuit, where bugs are hunted with
                                    precision in the intricate labyrinth of
                                    code. This agile process ensures a flawless
                                    software performance, embodying the art of
                                    code mastery, and being a master in various
                                    testing tools and methodologies
                                </p>
                                <br />

                                <div class="tags are-medium is-centered">
                                    <span class="tag is-normal is-rounded">
                                        <b>Functional Testing</b>
                                    </span>
                                    <span class="tag is-normal is-rounded"
                                        ><b>UI Testing</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Usability Testing</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>API Testing</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Load Testing</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Performance Testing</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Smoke Testing</b>
                                    </span>
                                    <span class="tag is-normal is-rounded"
                                        ><b>Sanity Testing</b>
                                    </span>
                                    <span class="tag is-normal is-rounded"
                                        ><b>Regression Testing</b>
                                    </span>
                                    <span class="tag is-normal is-rounded"
                                        ><b>Multiplatform Testing</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Automation Testing</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Python</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>pytest</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>unittests</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>requests</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Selenium</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Postman</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Insomnia</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Baretail</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Clumsy</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>JMeter</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>ZeroMQ</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>RabbitMQ</b></span
                                    >
                                    <span class="tag is-normal is-rounded"
                                        ><b>Microsoft VMM</b></span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <div class="card">
                        <span></span>
                        <h3>Development</h3>
                        <div class="card-content">
                            <div class="content">
                                <p>
                                    For a Python sorceress, development is the
                                    mystical journey of conjuring elegant spells
                                    with the language's enchanting syntax,
                                    crafting powerful incantations to shape
                                    digital realms and bring forth software
                                    magic. For a novice Python developer,
                                    mastering the mystical arts requires
                                    embracing professional tools that amplify
                                    the coding skills and these tools is akin to
                                    acquiring a magical wand
                                </p>
                                <br />
                                <div class="tags are-medium is-centered">
                                    <span class="tag is-normal is-rounded">
                                        <b>Python</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>Git</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>VS Code</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>Flask</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>pytest</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>unittests</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>Web Scraping</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>Python Scripting</b>
                                    </span>
                                    <span class="tag is-normal is-rounded">
                                        <b>SQLite</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}
